<!DOCTYPE html>

<html>
    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-FJLXBB85DG"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-FJLXBB85DG');
        </script>
        <meta charset="utf-8" />
        <title>{% block title %}Title{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="static/style.css">
    </head>
    <body>
        <div class="topdiv">
            <img src="/static/images/ITU_logo.jpg" alt="Logo" class="logo">
        </div>

        <div class="container">
            {% block content %}empty content{% endblock content %}
        </div>
    </body>
</html>